.services {
    background: linear-gradient(180deg, #0c0c1d, #111132);;
    position: relative;
    margin: auto;
    overflow: hidden;



    .textContainer {
        flex: 1;
        align-self: flex-end;
        display: flex;
        align-items: center;
        gap: 20px;

        p {
            font-weight: 200;
            font-size: 20px;
            color: gray;
            text-align: right;
        }

        hr {
            width: 500px;
            border: none;
            border-top: 0.5px solid gray;
        }
    }

    .titleContainer {
        flex: 2;
        display: flex;
        flex-direction: column;
        align-items: center;
        
        .title {
            display: flex;
            align-items: center;
            gap: 50px;

            img {
                width: 300px;
                height: 100px;
                border-radius: 50px;
                object-fit: cover;
            }

            h1 {
                font-size: 96px;
                font-weight: 100;


            }

            button {
                width: 300px;
                height: 100px;
                border-radius: 50px;
                background-color: orange;
                border: none;
                font-size: 30px;
                cursor: pointer;
            }
        }
    }

    .subtitleContainer {
        display: flex;
        flex: 3;
        max-width: 1366px;
        margin: auto;
        align-items:center;
        justify-content: center;
        flex-direction: row;
        padding-bottom: 50px;
            
        .photoContainer {
            display: flex;
            height: 100%;
            width: 70%;
            padding-right: 80px;
            
    
            img {
                width: 500px;
                object-fit: fill;
                border-radius: 100px;

            }
            
        }

        .detailContainer {

            .listContainer {
                display: flex;
                max-width: 1366px;
                margin: auto;
                justify-content: center;
                flex-direction: row;
                align-items: center;
            
                .box {
                    width: 50%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items:center;
                    text-align: center;
                    border-radius: 20px;
                    border: solid 2px lightgrey;
                    transition: background-color 0.8s ease, color 0.8s ease-out;

                        
                    .boxHeader {
                        display: flex;
                        flex-direction: column;

                        svg {
                            font-size: 2em;
                            color: orange;
                            transition: color 0.5s ease-in-out
                        }

                        h2 {
                            padding-top: 10px;
                            padding-bottom: 10px;
                        }
                        
                    }

                    button {
                        width: 150px;
                        padding: 10px;
                        background-color: orange;
                        border: none;
                        border-radius: 5px;
                        cursor: pointer;
    
                    }
                }
                
                .box:hover svg {
                    color: black;
                    transition: color 0.5s ease;
                }
            }

            .aboutContainer {
                
                padding-top: 20px;
                
                h2 {
                    
                }

            }
                
            
        }
    }
}