.navbar{
    height: 100px;

    .wrapper{
        max-width: 1366px;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 50px;
        height: 100%;

        span{
            font-weight: bold;
        }

        .social{
            display: flex;
            gap: 20px;

            .iconContainer {
                display: flex;
                flex-direction: row;
                justify-content: start;
                width: fit-content;
                gap: 10px;                

                svg {
                    fill: lightgray;
                    width: 30px;
                    height: 30px;
                    transition: 1s;
                    cursor: pointer;
                }

                svg:hover {
                    scale: 1.2;
                    fill: orange;
                    transition: 1s;
                    background-color: black;
                }
            }

        img{
            width: 18px;
        }

        }
    }
}

